In [2]:
!pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql.connector in c:\users\anas_\appdata\roaming\python\python310\site-packages (2.2.9)

In [47]:
import mysql.connector as sql
cnx = sql.connect(
    host="localhost",
    user="aanasiqbal12",
    password="Alia333%",
    database="test_anas"
)

In [48]:
cursor = cnx.cursor()

query = "SELECT * FROM student"
cursor.execute(query)

# Fetch all the rows returned by the query
rows = cursor.fetchall()

# Process and display the retrieved data
for row in rows:
    print(row)

# Close the cursor and connection
#cursor.close()
#cnx.close()

('someone', 20, 'someone father')
('third', 25, 'third father')

In [6]:
import pandas as pd

In [14]:
# Query to select all rows from the table
query = "SELECT * FROM Customers"  # Replace 'Customers' with your actual table name

# Execute the query and fetch all rows
df = pd.read_sql_query(query, cnx)

# Close the database connection
#cnx.close()

# Print the extracted data
print(df)

   CustomerID                        CustomerName         ContactName  \
0           1                 Alfreds Futterkiste        Maria Anders
1           2  Ana Trujillo Emparedados y helados        Ana Trujillo
2           3             Antonio Moreno Taquería      Antonio Moreno
3           4                     Around the Horn        Thomas Hardy
4           5                  Berglunds snabbköp  Christina Berglund

                         Address         City PostalCode  Country
0                  Obere Str. 57       Berlin      12209  Germany
1  Avda. de la Constitución 2222  México D.F.      05021   Mexico
2                 Mataderos 2312  México D.F.      05023   Mexico
3                120 Hanover Sq.       London    WA1 1DP       UK
4                 Berguvsvägen 8        Luleå   S-958 22   Sweden

C:\Users\anas_\AppData\Local\Temp\ipykernel_7764\2970862984.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, cnx)

In [84]:
#q = "SELECT * FROM customers WHERE country like 'ger%'"
cust = "customers"
add = "120 Hanover Sq."
p_code = "05021"   
q = f'select * from {cust} where address = "{add}" or PostalCode = "{p_code}" '
sql_df = pd.read_sql_query(q,cnx)
print(sql_df)

   CustomerID                        CustomerName   ContactName  \
0           2  Ana Trujillo Emparedados y helados  Ana Trujillo
1           4                     Around the Horn  Thomas Hardy

                         Address         City PostalCode Country
0  Avda. de la Constitución 2222  México D.F.      05021  Mexico
1                120 Hanover Sq.       London    WA1 1DP      UK

C:\Users\anas_\AppData\Local\Temp\ipykernel_7764\1569801887.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_df = pd.read_sql_query(q,cnx)

In [88]:
que = "insert into customers(CustomerID) value (10)"

In [90]:
insert = pd.read_sql_query(que,cnx)

C:\Users\anas_\AppData\Local\Temp\ipykernel_7764\4083207821.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  insert = pd.read_sql_query(que,cnx)

TypeError: 'NoneType' object is not iterable

In [117]:
que = 'delete from customers where customerid = 10'
a = pd.read_sql_query(que,cnx)
print(a)

C:\Users\anas_\AppData\Local\Temp\ipykernel_7764\2092325368.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a = pd.read_sql_query(que,cnx)

TypeError: 'NoneType' object is not iterable

In [119]:
select_all = 'select * from customers'
select_all = pd.read_sql_query(select_all,cnx)

print(select_all)

   CustomerID                        CustomerName         ContactName  \
0           1                 Alfreds Futterkiste        Maria Anders
1           2  Ana Trujillo Emparedados y helados        Ana Trujillo
2           3             Antonio Moreno Taquería      Antonio Moreno
3           4                     Around the Horn        Thomas Hardy
4           5                  Berglunds snabbköp  Christina Berglund

                         Address         City PostalCode  Country
0                  Obere Str. 57       Berlin      12209  Germany
1  Avda. de la Constitución 2222  México D.F.      05021   Mexico
2                 Mataderos 2312  México D.F.      05023   Mexico
3                120 Hanover Sq.       London    WA1 1DP       UK
4                 Berguvsvägen 8        Luleå   S-958 22   Sweden

C:\Users\anas_\AppData\Local\Temp\ipykernel_7764\3631061389.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  select_all = pd.read_sql_query(select_all,cnx)

In [133]:
value = "Gulistan e Johar Block 13"
select_all = "UPDATE customers SET Address = 'Gulistan e Johar Block 13' WHERE CustomerID = 10"
select_all = pd.read_sql_query(select_all,cnx)

print(select_all)

C:\Users\anas_\AppData\Local\Temp\ipykernel_7764\1002124065.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  select_all = pd.read_sql_query(select_all,cnx)

TypeError: 'NoneType' object is not iterable